body{
    font-family: 'Courier New', Courier, monospace; /* font-family define várias fontes, caso a primeira não esteja disponível, a próxima será usada */
    text-align: center; 
}

#board {
    background-image: url(".Imagens/bg.png");
}